body {
  font-family: Arial;
  background-color: black;
  color: white;
}

h1{
 color: white;
  font-family: 'Arial', sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  text-shadow: 
    0 0 5px #bc3df4,   
    0 0 10px #bc3df4,  
    0 0 20px #bc3df4,  
    0 0 40px #9d16d8;
}

.sub{
  color: transparent;
  font-family: 'Times New Roman', sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #bc3df4; 
  text-shadow: 
    0 0 8px rgba(188, 61, 244, 0.8),
    0 0 20px rgba(188, 61, 244, 0.5);
}

h3{
  padding-bottom: 1.1rem;
  margin-bottom: 10px;
}

p{
  line-height:1.0;
}

#topo{
  background-color: #1C0C27;
  padding: 20px;
  border: none;
  margin-bottom: 15px;
  text-align: center;
}

#rodape{
  background-color: #1C0C27;
  color: white;
  border: none;
  text-align: center;
  font-family: 'Times New Roman', sans-serif;
  padding: 15px;
  margin-bottom: 15px;
}

article > img{
  height: auto; 
  max-width: 50%;
  align-items: center;
  justify-content: center;
  border: 1px solid #A25FCE;
  border-radius: 20px;
  margin-right: -15px;
}

.card{
  background-color: #1C0C27;
  color: white;
  border: 1px solid #A25FCE;
  padding:20px;
  margin-bottom: 15px;
  border-radius: 20px;
  display: grid;
  height: auto;
  grid-template-columns: repeat(2, 1fr);
}

a{
  color: #A25FCE;
  background-color: black;
  text-decoration: none;
  border: 1px solid #A25FCE;
  border-radius: 50%;
  padding: 10px;
  margin: 0px 0px 0px 0px;
}

.r{
  color: black;
  background: linear-gradient(135deg, #D65AFF 0%, #A826E2 100%);
    box-shadow: 0 0 15px rgba(196, 70, 249, 0.4);
  border: none;
  padding: 15px 45px 15px 45px;
  border-radius: 15px;
}

.r:hover {
  cursor: pointer;
  padding: 20px 50px 20px 50px;
  transition: transform 0.2s, filter 0.2s;
}

a:hover {
    background-color: #C446F9;
    color: #000000;
